<div class="footer">
    <ul>
      <li><a href="/">&copy;<%= Date.today.year %> MapMyFriends</a></li>
      <li><a href="http://twitter.com/brandonhilkert" target="_blank">@brandonhilkert</a></li>
      <li>
        <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://bh-mapmyfriends.herokuapp.com" title="Click to share Map My Friends on Facebook">
          <img src="/images/facebook.png" width="32" height="32" alt="Facebook" />
        </a>
      </li>
      <li>
        <a target="_blank" href="http://twitter.com/share?text=Check out Map My Friends.&url=http://bh-mapmyfriends.herokuapp.com" title="Click to share Map My Friends on Twitter">
          <img src="/images/twitter.png" width="32" height="32" alt="Twitter" />
        </a>
      </li>
    </ul>
  </div>
</div>