<div class="landing">
  <div class="headline">Welcome to Map My Friends!</div>
  <br />
  <div class="tagline">Create a map of your friends.</div>
  <br />
  <br />
  <a href="/auth/facebook">
    <img src="/images/facebook-login.png" />
  </a>
</div>