<script type="text/javascript">
  mixpanel.track("View Landing");
</script>

<div class="landing">
  <div class="headline">Welcome to Map My Photos!</div>
  <br />
  <div class="tagline">Create a map of your latest Instagram photos.</div>
  <br />
  <br />
  <a href="/auth/instagram">
    <img src="/images/instagram-button.png" />
  </a>
</div>