<!DOCTYPE html>
<html>
  <head>
    <title>Map My Friends</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="description" content="Create a map of your friends." />
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;key=AIzaSyD3TyYCzsYicyNwuz8RHhMULO4C2dKoPOI" type="text/javascript"></script>
    <script src="/javascripts/jquery-1.8.0.min.js" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>