body {
  background-color: #1e1e1e;
  font-family: "Myriad Pro Condensed", "Gill Sans", "Lucida Grande", Helvetica, sans-serif;
  font-weight: 100;
  color: #fffcf1;
}
.clear { clear: both; }
.tagline { color: #4d4a42; font-size: 1.1em; }

.container {
  width: 615px;
  margin: 0 auto;
  text-align: center;
}

.content { min-height: 650px; }
.landing { padding-top: 250px; }
.headline { font-size: 2em; }
.text-left { text-align: left; }
.slideshow { min-height: 650px; }

.slideshow img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.share {
  margin-bottom: 10px;
}

.share img {
  vertical-align: middle
}

.share a {
  color: #fffcf1;
  text-decoration: none
}

.caption {
  margin-bottom: 5px;
}

.date {
  color: #4d4a42;
}

.footer {
  border-top: 1px solid #4d4a42;
  color: #4d4a42;
  font-size: 0.9em;
  margin-top: 20px;
}

.footer img {
  max-width: 24px;
  max-height: 24px;
}

.footer a {
  color: #4d4a42;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  margin: 10px auto 20px;
  width: 500px;
  list-style: none
}

.footer ul li {
  float: left;
  padding: 0 5px;
}

.footer ul li iframe {
  float: left;
}